.dayContainer {
    display: grid;
    grid-template-rows: 33px repeat(7, 1fr);
    border: 1px solid white;
}

@media all and (max-width: 550px) {
    .hiddenDayContainer {
        display: none;
    }

    .activeDayContainer {
        display: flex;
    }
}
